<%- include('../partials/user_partials/userHeader') %>
<%- include('../partials/user_partials/navbar') %>
<div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center text-center text-white">
    <p class="px-5 fs-4">Most of the oxygen in our atmosphere comes from tiny marine plants in the ocean—specifically, phytoplankton, kelp, and algal plankton. Scientists estimate they're responsible for around 70 percent of the atmosphere's oxygen, according to National Geographic.</p>
    <button class="pill">
        <div class="logo-container">
            <i class="fa-solid fa-water" style="color: #6296ef;"></i>
        </div>
        <div class="text">Explore <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
        </div>
    </button>
</div>


<%- include('../partials/user_partials/userFooter') %>
    
