<nav class="navbar navbar-expand-lg bg-primary-subtle px-4 position-fixed top-0 w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h3>OCEAN</h3></a>
      <h5>Welcome, <%= name %></h5>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  text-white">
        
        </ul>
        <form class="d-flex">
          <a href="/admin/logout" class="btn btn-outline-danger">Logout</a> 
        </form>
      </div>
    </div>
  </nav>